<!DOCTYPE html>
<html>
    <head>
        <title>Persona Identity Provider</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://login.persona.org/include.js"></script>
        {% block gb_persona_provider_js %}
        {% endblock gb_persona_provider_js %}
    </head>
    <body>
        {% block gb_persona_provider_content %}
        {% endblock gb_persona_provider_content %}
    </body>
</html>
