{% extends "GBPersonaProviderBundle::layout.html.twig" %}

{% block gb_persona_provider_js %}
<script type="text/javascript" src="https://login.persona.org/authentication_api.js"></script>
<script type="text/javascript">
jQuery(function($) {
    var checkSession = function(email, onSuccess, onFailure) {
            $.ajax({
                type: 'POST',
                crossDomain: true,
                url: '{{ path('gb_persona_provider_identify') }}',
                dataType: 'json',
                data: { email: email },
                success: function(data, status, xhr) {
                    if (data.success) {
                        onSuccess();
                    } else {
                        onFailure();
                    }
                },
                error: function(data, status, xhr) {
                    onFailure();
                }
            });
        },
        onSubmit = function() {
            var email = $('#email').val(),
                password = $('#password').val(),
                csrf_token = $('#csrf_token').val();

            $.ajax({
                type: 'POST',
                url: '{{ path('gb_persona_provider_login_check') }}',
                dataType: 'json',
                data: { _username: email.split('@')[0], _password: password, _csrf_token: csrf_token },
                success: function(data, status, xhr) {
                    navigator.id.completeAuthentication();
                },
                error: function(data, status, xhr) {
                    navigator.id.raiseAuthenticationFailure(data.error);
                }
            });
            return false;
        },
        onCancel = function() {
            navigator.id.cancelAuthentication();
            return false;
        };

    navigator.id.beginAuthentication(function(email) {
        $('#email').val(email);
        checkSession(email, function() {
            navigator.id.completeAuthentication();
        }, function() {
            $('#submit').removeAttr('disabled');
        });
    });

    $('#auth').submit(onSubmit);
    $('#cancel').click(onCancel);
});
</script>
{% endblock gb_persona_provider_js %}

{% block gb_persona_provider_content %}
<form action="#" method="post" id="auth">
    <fieldset>
        <legend>Login</legend>
        <input type="hidden" id="csrf_token" name="_csrf_token" value="{{ csrf_token }}" />

        <label for="email">Email:</label>
        <input type="text" id="email" name="email" readonly="readonly" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" required="required" />

        <div class="control-group">
            <button type="submit" class="btn btn-primary" id="submit" name="submit" disabled="disabled">Login</button>
            <a href='#' class="btn" id="cancel" name="cancel">Cancel</a>
        </div>
    </fieldset>
</form>
{% endblock gb_persona_provider_content %}
